.Rproj.user
.DS_Store
.Rhistory
.positai

#abiotic data and shape files
tutorial/1.data/soil_world_mercator
tutorial/1.data/bioclim_mercator
tutorial/1.data.zip
tutorial/1.data/occurrence_clean.csv
tutorial/1.data/tree-Vasconcelos2020.txt
tutorial/gdmtmp_17b7a3f1cf974.bin
tutorial/gdmtmp_17bcc7d2e3101.bin
tutorial/gdmtmp_17bcc4cff1395.bin
tutorial/tutorial-ptbr_files/figure-html/unnamed-chunk-14-1.png
tutorial/tutorial-ptbr_files/figure-html/unnamed-chunk-18-1.png
tutorial/tutorial-ptbr_files/figure-html/unnamed-chunk-5-1.png
tutorial/tutorial-ptbr_files/figure-html/unnamed-chunk-7-1.png
tutorial/tutorial-ptbr_files/figure-html/unnamed-chunk-8-1.png
tutorial/gdmtmp_dc555535764.bin
