.Rproj.user
.DS_Store
.Rhistory
.positai

#abiotic data and shape files
1.data
tutorial/gdmtmp_17b7a3f1cf974.bin
tutorial/gdmtmp_17bcc7d2e3101.bin
tutorial/gdmtmp_17bcc4cff1395.bin
tutorial/tutorial-ptbr_files/figure-html/unnamed-chunk-14-1.png
tutorial/tutorial-ptbr_files/figure-html/unnamed-chunk-18-1.png
tutorial/tutorial-ptbr_files/figure-html/unnamed-chunk-5-1.png
tutorial/tutorial-ptbr_files/figure-html/unnamed-chunk-7-1.png
tutorial/tutorial-ptbr_files/figure-html/unnamed-chunk-8-1.png
tutorial/gdmtmp_dc555535764.bin
tutorial/gdmtmp_dc5b5135af.bin
tutorial/gdmtmp_20d66ff2690.bin
